.container {
    display: flex;
	width: 100%;
	height: 100%;
}

.square1 {
    display: flex;
    width: 71.428571vw;
    height: 71.428571vh;
    border: .25pt solid black;
    margin: auto;
}
  
.square-center {
    width: 42.857143vw;
    height: 42.857143vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
  
.color1 {
    width: 28.571428vw;
    height: 28.571428vh;
    background-color: #f6871f;
    position: absolute;
    top: 0;
    left: 0;
}
  
.color2 {
    width: 28.571428vw;
    height: 28.571428vh;
    background-color: #a1b9d3;
    position: absolute;
    bottom: 0;
    right: 0;
}

.midsect {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #a98877;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
  