.container {
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
}

.square1 {
    display: flex;
    background-color: white;
    border: .25pt solid black;
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}

.square2 {
    display: flex;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}

.sect1 {
    display: flex;
    width: 100%;
    float: left;
    flex-wrap: wrap;
}

.upper-left {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #3f4f6c;
}

.mid-left {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #f7dd62;
}

.bottom-left {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #fdded2;
}

.sect2 {
    display: flex;
    width: 100%;
    float: left;
    flex-wrap: wrap;
}

.upper-mid {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #91c8e4;
}

.mid-mid {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #b6d661;
}

.bottom-mid {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #be715e;
}

.sect3 {
    display: flex;
    width: 100%;
    float: left;
    flex-wrap: wrap;
}

.upper-right {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #678685;
}

.mid-right {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #29baa6;
}

.bottom-right {
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #453d33;
}